.app {
    flex-grow: 1;
    background-color: green;
}

.wrapper {
    padding: 0 3.5rem;
}

/* Header */

.app_header {
    width: 100%;
    background-color: #f1f1f1;
}

.app_header_items {
    /* padding: 35px 50px; */
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_item.header_title {
    font-size: calc(22px + 11 * (100vw - 320px) / 1600);
    color: #666666;
}

.header_item.date {
    font-size: calc(14px + 11 * (100vw - 320px) / 1600);
    font-family: 'Montserrat-SemiBold';
    color: #666666;
}

/* Main */

.sales_table {
    display: grid;
}

thead,
tbody,
tr {
    display: contents;
}

.sales_thead tr,
.sales_tbody tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.curr_total_sales,
.curr_amount_sale {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    position: relative;
    border-radius: 11px;
    background-color: #f1f1f1;
}

.curr_total_sales th:first-child,
.curr_amount_sale td:first-child {
    grid-column: 1/2 span;
    padding: 17px 0;
}

.curr_total_sales .separator,
.curr_amount_sale .separator {
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: #999999;
}

.curr_total_sales .separator._50,
.curr_amount_sale .separator._50 {
    grid-column: 50/1 span;
}

.curr_total_sales .separator._90,
.curr_amount_sale .separator._90 {
    grid-column: 90/1 span;
}

/* .amount_sale_cell td:first-child {
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
}

.amount_sale_cell td:last-child {
    border-top-right-radius: 11px;
    border-bottom-right-radius: 11px;
} */
