.app {
    flex-grow: 1;
    /* background-color: green; */
}

.wrapper {
    padding: 0 3.5rem;
}

/* Header */

.app_header {
    width: 100%;
    background-color: #f1f1f1;
}

.app_header_items {
    /* padding: 35px 50px; */
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_item.header_title {
    color: #666666;
}

.header_item.date {
    font-size: calc(14px + 11 * (100vw - 320px) / 1600);
    font-family: 'Montserrat-SemiBold';
    color: #666666;
}

/* Main */

.main_content {
    width: 100%;
    height: 100%;
    position: relative;
}

.sales_table {
    margin-top: 60px;
    display: grid;
}

thead,
tbody,
tr {
    display: contents;
}

.sales_thead tr,
.sales_tbody tr {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    column-gap: 5rem;
}

.sales_thead tr {
    margin-bottom: 25px;
}

.total_title {
    font-family: 'Montserrat-SemiBold';
    color: #000000;
}

.total_sales {
}

.sales_tbody {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    /* margin-bottom: 25px; */
}

.row_sales,
.manager_cell {
    display: flex;
    align-items: center;
}

.manager_cell {
    justify-content: space-between;
}

.image_wrapper {
    width: 32px;
    height: 32px;
}

.image_wrapper .img_icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.curr_total_cell,
.curr_total_progress,
.curr_amount_cell,
.curr_amount_progress {
    height: 40px;
}

.curr_total_cell,
.curr_amount_cell {
    position: relative;
    border-radius: 11px;
    background-color: #f1f1f1;
}

.curr_total_sales,
.curr_amount_sale {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    color: #fff;
}

.curr_total_progress,
.curr_amount_progress {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    border-radius: 11px;
}

.curr_total_progress th:first-child,
.curr_amount_progress td:first-child {
    grid-column: 1/2 span;
    border-radius: 11px;
    color: transparent;
}

.curr_total_progress .separator,
.curr_amount_progress .separator {
    width: 1.5px;
    height: 100%;
    background-color: #a9a9a9;
}

.curr_total_progress .separator._50,
.curr_total_progress .separator._90,
.curr_amount_progress .separator._50,
.curr_amount_progress .separator._90 {
    position: absolute;
    top: 0;
}

.curr_total_progress .separator._50,
.curr_amount_progress .separator._50 {
    left: 50%;
    transform: translateX(-50%);
}

.curr_total_progress .separator._90,
.curr_amount_progress .separator._90 {
    top: 0%;
    right: 10%;
    transform: translateX(-10%);
}

.curr_total_progress th:first-child {
    background-color: #666666;
}

/* Ставка х1 */
.curr_amount_progress .x1_0_50 {
    background-color: #d71920;
}
.curr_amount_progress .x1_50_90 {
    background-color: #666666;
}
.curr_amount_progress .x1_90_100 {
    background: -webkit-linear-gradient(90deg, #aebc5b 0%, #a5b452 100%);
}

/* Ставка х2 */
.curr_amount_progress .x2_0_50 {
    background: -webkit-linear-gradient(284.38deg, #ce8257 34.67%, #ecac88 66.73%);
}
.curr_amount_progress .x2_50_90 {
    background: -webkit-linear-gradient(275.69deg, #b0b0b0 14.75%, #e7e7e7 51.62%, #b0b0b0 88.49%);
}
.curr_amount_progress .x2_90_100 {
    background: -webkit-linear-gradient(284.38deg, #ceab57 34.67%, #d2b05e 38.83%, #eacf8f 66.73%);
}

/* Ставка х3 */
.curr_amount_progress .x3_0_50 {
    background: -webkit-linear-gradient(278.41deg, #bfdada 21.94%, #d9f2f2 49.43%, #ccd9d9 76.92%);
}
.curr_amount_progress .x3_50_90 {
    background: -webkit-linear-gradient(284.38deg, #ce5782 34.67%, #ea7ba3 66.73%);
}
.curr_amount_progress .x3_90_100 {
    background: -webkit-linear-gradient(284.38deg, #52bfd8 34.67%, #49a1b5 66.73%);
}

/* Ставка х4 */
.curr_amount_progress .x4_0_100 {
    background-color: #000000;
}

.multiplier {
    font-family: 'Montserrat-SemiBold';
}

/* Множители */
.multiplier.x2_0_50 {
    background: -webkit-linear-gradient(284.38deg, #ce8257 34.67%, #ecac88 66.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.multiplier.x2_50_90 {
    background: -webkit-linear-gradient(275.69deg, #b0b0b0 14.75%, #e7e7e7 51.62%, #b0b0b0 88.49%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.multiplier.x2_90_100 {
    background: -webkit-linear-gradient(284.38deg, #ceab57 34.67%, #d2b05e 38.83%, #eacf8f 66.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.multiplier.x3_0_50 {
    background: -webkit-linear-gradient(278.41deg, #bfdada 21.94%, #d9f2f2 49.43%, #ccd9d9 76.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.multiplier.x3_50_90 {
    background: -webkit-linear-gradient(284.38deg, #ce5782 34.67%, #ea7ba3 66.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.multiplier.x3_90_100 {
    background: -webkit-linear-gradient(284.38deg, #52bfd8 34.67%, #49a1b5 66.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.multiplier.x4_0_100 {
    background-color: #000000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.monthly_rate_cell {
    display: grid;
    grid-template-columns: 0.5fr max-content;
}

.monthly_rate_text {
}
