.app {
    flex-grow: 1;
    background-color: green;
}

.wrapper {
    padding: 0 3.5rem;
}

/* Header */

.app_header {
    width: 100%;
    background-color: #f1f1f1;
}

.app_header_items {
    /* padding: 35px 50px; */
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_item.header_title {
    font-size: calc(22px + 11 * (100vw - 320px) / 1600);
    color: #666666;
}

.header_item.date {
    font-size: calc(14px + 11 * (100vw - 320px) / 1600);
    font-family: 'Montserrat-SemiBold';
    color: #666666;
}

/* Main */

.sales_table {
    display: grid;
}

thead,
tbody,
tr {
    display: contents;
}

.sales_thead tr,
.sales_tbody tr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.amount_sale_cell {
    display: grid;
    grid-template-columns: 45% 45% 10%;
    background-color: #f1f1f1;
}

.amount_sale_cell td {
    padding: 17px 0;
}
