@import url(./css/reset.css);

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat-Regular';
    font-size: calc(8px + 4 * (100vw - 320px) / 1600);
}

#root {
    min-height: 100vh;
    display: flex;
}
